section.container {
    width: 70vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid black;

    .generate-box {
        display: flex;
        gap: 10px;

        form {
            display: flex;
            flex-direction: row;
            gap: 5px;

            div.inputs {
                display: flex;
                flex-direction: column;
                gap: 5px;

                label {
                    display: flex;
                    gap: 10px;
                    justify-content: space-between;
                }
            }

            form > button {
                height: 3rem;
            }
        }
    }

    #generate {
        background-color: lightcyan;

        &:hover {
            background-color: cyan;
        }
    }
}

#output {
    overflow: scroll;
    max-height: 60vh;
    max-width: 70vw;
    section.table {
        display: flex;
        flex-direction: column;
        div{
            display: flex;
            flex-direction: row;
            align-items: center;
            aside{
                border: 1px solid black;
                min-width: 50px;
                text-align: center;
            }
        }
        .highlighted{
            background-color: palevioletred!important;
        }
        div:nth-child(1) aside, div:last-child aside, aside:nth-child(1), aside:last-child {
            background-color: lightcyan;
        }
    }
}
